<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <h3>Explore Ideas</h3>
        </div>
        <div id="navbar2" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-default">Recent</button>
                    <button type="button" class="btn btn-default">Popular</button></div>
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default">A- Z</button>
                        <button type="button" class="btn btn-default">Z-A</button>

                    </div>
                <a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                </a>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<hr>
    
    <div class="container">
    
    <!--First Row-->
    
    
        <div class="row" >
    
            <div class="col-sm-6 col-md-4">
    
                <div class="thumbnail" style="border-top-color: #F516BF;
        border-top-width: 15px; ">
                    <div class="caption">
                        <h2>Owen Larken</h2>
                        <h3>People Resource Tracking</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="border-top-color: #F51648; border-top-width: 15px; ">
    
                    <div class="caption">
                        <h2>Owen Larken</h2>
                        <h3>People Resource Tracking</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="border-top-color: #16F5C2;border-top-width: 15px;">
    
                    <div class="caption">
                        <h2>Ben Taitebakom</h2>
                        <h3>Green Eggs</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
            <!--Second row-->
    
    
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="border-top-color: #16F5C2;border-top-width: 15px;">
                        <div class="caption">
                            <h2>Ben Taitebakom</h2>
                            <h3>Green Eggs</h3>
                            <p>a web applciation to track people and availability</p>
                            <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="border-top-color: #167BF5;border-top-width: 15px;">
                        <div class="caption">
                            <h2>Bouqt Booaraak</h2>
                            <h3>Green Cat</h3>
                            <p>a web applciation to track people and availability</p>
                            <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>Ben Taitebakom</h2>
                            <h3>Green Eggs</h3>
                            <p>a web applciation to track people and availability</p>
                            <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                        </div>
                    </div>
                </div>
    
    
    <!--Third row-->
    
    
            <div class="col-sm-6 col-md-4" >
                <div class="thumbnail" style="border-top-color: #167BF5;border-top-width: 15px;">
                    <div class="caption">
                        <h2>joshua Angeley</h2>
                        <h3>Green Eggs</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Ben Taitebakom</h2>
                        <h3>Green Eggs</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"  style=" border-top-color: #F51648; border-top-width: 15px;">
    
    
                    <div class="caption">
                        <h2>joshua Angeley</h2>
                        <h3>Green Eggs</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
    
    
    
    <!--Fourth Row-->
    
            <div class="col-sm-6 col-md-4" >
                <div class="thumbnail" style="border-top-color: #167BF5;border-top-width: 15px;">
                    <div class="caption">
                        <h2>joshua Angeley</h2>
                        <h3>Green Eggs</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>Ben Taitebakom</h2>
                        <h3>Green Eggs</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"  style=" border-top-color: #4CF516; border-top-width: 15px;">
    
    
                    <div class="caption">
                        <h2>joshua Angeley</h2>
                        <h3>Green Eggs</h3>
                        <p>a web applciation to track people and availability</p>
                        <p><a href="#"  class="btn btn-default btn-round" role="button">Comments</a> <a href="#" class="btn btn-default btn-round" role="button">Likes</a></p>
                    </div>
                </div>
            </div>
    
    
        </div>
    
    
        <!--Load More Button--><div>
                <button class="btn btn-default"  style="display: block;color: blue; margin: 0 auto">Load More</button>
    
        </div>
    
        </div> <!-- /container -->
    
    
    
    
    
    
    