<nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <h3>Explore Ideas</h3>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default">Recent</button>
                        <button type="button" class="btn btn-default">Popular</button></div>
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-default">A- Z</button>
                            <button type="button" class="btn btn-default">Z-A</button>
    
                        </div>
                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </a>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <hr>